# Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.


Create a Jupyter Notebook file called data_engineering.ipynb and use this to complete all of your Data Engineering tasks.
Use Pandas to read in the measurement and station CSV files as DataFrames.
Inspect the data for NaNs and missing values. You must decide what to do with this data.
Save your cleaned CSV files with the prefix clean_.

In [1]:
#Dependencies
import pandas as pd
import os

In [2]:
#Read Hawaii measurements csv file
hawaii_measurements_df = pd.read_csv('Instructions/Resources/hawaii_measurements.csv')
hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
len(hawaii_measurements_df)

19550

In [4]:
#Check for nulls
hawaii_measurements_df.isnull().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [5]:
#Drop NaNs
measurements_df_clean = hawaii_measurements_df.dropna(how = 'any')
measurements_df_clean.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [6]:
pd.Series(list(measurements_df_clean.index))

0            0
1            1
2            2
3            3
4            5
5            6
6            7
7            8
8            9
9           10
10          11
11          12
12          13
13          14
14          15
15          16
16          17
17          18
18          19
19          20
20          21
21          22
22          23
23          24
24          25
25          27
26          28
27          30
28          31
29          32
         ...
18073    19513
18074    19514
18075    19515
18076    19516
18077    19517
18078    19518
18079    19519
18080    19520
18081    19521
18082    19522
18083    19523
18084    19524
18085    19525
18086    19526
18087    19527
18088    19529
18089    19530
18090    19533
18091    19534
18092    19535
18093    19536
18094    19538
18095    19540
18096    19541
18097    19542
18098    19543
18099    19545
18100    19547
18101    19548
18102    19549
Length: 18103, dtype: int64

In [7]:
#Export clean file to csv
measurements_df_clean.to_csv('Instructions/Resources/clean_hawaii_measurements.csv', index=True)
final_measurements_df = pd.read_csv('Instructions/Resources/clean_hawaii_measurements.csv', index_col=0)
final_measurements_df['id'] = pd.Series(list(measurements_df_clean.index))
final_measurements_df.head(10)

        station        date  prcp  tobs    id
0   USC00519397  2010-01-01  0.08    65   0.0
1   USC00519397  2010-01-02  0.00    63   1.0
2   USC00519397  2010-01-03  0.00    74   2.0
3   USC00519397  2010-01-04  0.00    76   3.0
5   USC00519397  2010-01-07  0.06    70   6.0
6   USC00519397  2010-01-08  0.00    64   7.0
7   USC00519397  2010-01-09  0.00    68   8.0
8   USC00519397  2010-01-10  0.00    73   9.0
9   USC00519397  2010-01-11  0.01    64  10.0
10  USC00519397  2010-01-12  0.00    61  11.0

In [8]:
#Read Hawaii Stations data and check for NaNs
hawaii_stations_df = pd.read_csv('Instructions/Resources/hawaii_stations.csv')
hawaii_stations_df.to_csv('Instructions/Resources/clean_hawaii_stations.csv', index = True)
hawaii_stations_clean_df = pd.read_csv('Instructions/Resources/clean_hawaii_stations.csv', index_col = 0)
hawaii_stations_clean_df['id'] = pd.Series(list(hawaii_stations_df.index))
hawaii_stations_clean_df.head(10)

,station,name,latitude,longitude,elevation,id
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0,0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6,1
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0,2
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9,3
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6,4
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5,5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9,6
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9,7
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4,8

# Step 2 - Database Engineering
Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all of your Database Engineering work. Use Pandas to read your cleaned measurements and stations CSV data. Use the engine and connection string to create a database called hawaii.sqlite.

Use declarative_base and create ORM classes for each table.

You will need a class for Measurement and for Station. Make sure to define your primary keys.

Once you have your ORM classes defined, create the tables in the database using create_all.#

In [9]:
#Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine, inspect

#Import Base to create classes and other sql dependencies
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.engine import reflection

Base = declarative_base()

#Import dependencies to create columns and its datatypes
from sqlalchemy import Column, Integer, String, Float, Date

import pymysql
pymysql.install_as_MySQLdb()

In [10]:
# Drop sqllite database incase you want to rerun program
#!rm hawaii_clean.sqlite

In [11]:
#Define Measurement class

class measurement(Base):
    __tablename__ = "measurements"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)
    
#Define Hawaii Stations class

class station(Base):
    __tablename__ = "stations"
    
    id = Column(Integer, primary_key = True)
    station = Column(String)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [12]:
#Connect to SQL Database
engine = create_engine("sqlite:///hawaii_clean.sqlite")
Base.metadata.create_all(engine)
session = Session(bind=engine)
session.commit()

In [13]:
#Insert rows from Clean Hawaii measurements datafram to sql database
final_measurements_df.to_sql(con=engine, index_label='id', name='measurements', if_exists='append', index = False)

#Insert rows from Hawaii stations dataframe to sql database
hawaii_stations_clean_df.to_sql(con=engine, index_label = 'id', name='stations', if_exists='append', index = False)

In [14]:
session.query(measurement.station, measurement.date, measurement.prcp, measurement.tobs, measurement.id).limit(20).all()

[('USC00519397', '2010-01-01', 0.08, 65, 0),
 ('USC00519397', '2010-01-02', 0.0, 63, 1),
 ('USC00519397', '2010-01-03', 0.0, 74, 2),
 ('USC00519397', '2010-01-04', 0.0, 76, 3),
 ('USC00519397', '2010-01-07', 0.06, 70, 6),
 ('USC00519397', '2010-01-08', 0.0, 64, 7),
 ('USC00519397', '2010-01-09', 0.0, 68, 8),
 ('USC00519397', '2010-01-10', 0.0, 73, 9),
 ('USC00519397', '2010-01-11', 0.01, 64, 10),
 ('USC00519397', '2010-01-12', 0.0, 61, 11),
 ('USC00519397', '2010-01-14', 0.0, 66, 12),
 ('USC00519397', '2010-01-15', 0.0, 65, 13),
 ('USC00519397', '2010-01-16', 0.0, 68, 14),
 ('USC00519397', '2010-01-17', 0.0, 64, 15),
 ('USC00519397', '2010-01-18', 0.0, 72, 16),
 ('USC00519397', '2010-01-19', 0.0, 66, 17),
 ('USC00519397', '2010-01-20', 0.0, 66, 18),
 ('USC00519397', '2010-01-21', 0.0, 69, 19),
 ('USC00519397', '2010-01-22', 0.0, 67, 20),
 ('USC00519397', '2010-01-23', 0.0, 67, 21)]

In [15]:
session.query(station.station, station.name, station.latitude, station.longitude, station.elevation, station.id).all()

[('USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0, 0),
 ('USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6, 1),
 ('USC00514830',
  'KUALOA RANCH HEADQUARTERS 886.9, HI US',
  21.5213,
  -157.8374,
  7.0,
  2),
 ('USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9, 3),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6, 4),
 ('USC00519523',
  'WAIMANALO EXPERIMENTAL FARM, HI US',
  21.33556,
  -157.71139,
  19.5,
  5),
 ('USC00519281',
  'WAIHEE 837.5, HI US',
  21.45167,
  -157.84888999999995,
  32.9,
  6),
 ('USC00511918',
  'HONOLULU OBSERVATORY 702.2, HI US',
  21.3152,
  -157.9992,
  0.9,
  7),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4, 8)]

In [17]:
#Inspect database tables
engine = create_engine("sqlite:///hawaii_clean.sqlite")
inspect = reflection.Inspector.from_engine(engine)
print(inspect.get_table_names())

['measurements', 'stations']

In [19]:
#write a test query check data
session.query(measurement.station, measurement.date, measurement.prcp, measurement.tobs, measurement.id).filter(measurement.date.between('2016-08-15','2016-08-16')).limit(15).all()

[('USC00519397', '2016-08-15', 0.0, 79, 2394),
 ('USC00519397', '2016-08-16', 0.0, 80, 2395),
 ('USC00513117', '2016-08-15', 0.17, 77, 5134),
 ('USC00513117', '2016-08-16', 0.1, 77, 5135),
 ('USC00514830', '2016-08-16', 0.02, 81, 7642),
 ('USC00517948', '2016-08-16', 0.0, 81, 9995),
 ('USC00519523', '2016-08-15', 0.0, 81, 13114),
 ('USC00519523', '2016-08-16', 0.0, 80, 13115),
 ('USC00519281', '2016-08-15', 0.23, 75, 15876),
 ('USC00519281', '2016-08-16', 0.12, 74, 15877),
 ('USC00516128', '2016-08-15', 0.95, 72, 20566),
 ('USC00516128', '2016-08-16', 0.85, 72, 20567)]